<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Issue Analyze</title>

      <%include static/css.html%>
      <link  rel="stylesheet" type="text/css"  href="/assets/css/chart.css">
  </head>

  <body>

  <section id="container" >
        <%include addon/header.html%>
        <%include addon/aside.html%>

        <section id="main-content">
          <section class="wrapper">


              <div class="row">
                  <div class="col-md-12 col-lg-9 main-chart">
                  <div>
                      <h2><span class="head">----</span>분석</h2>
                      <h4><span class="start_date">----</span>부터의 대화 시작됨</h4>
                  </div>
                  <div class="col-md-12 mb no-padding" id="chatter">
                      <!-- WHITE PANEL - TOP USER -->
                      <div class="white-panel pn" style="">
                          <div class="white-header">
                              <h3 class="title" style="">
                                  친밀 관계도 그래프
                                  <span class="glyphicon glyphicon-signal"></span>
                                  <h5 style="color:#C1B3AE">
                                      <span class="glyphicon glyphicon-info-sign"></span>
                                        모바일의 경우 가로화면을 추천합니다
                                  </h5>
                                  <h5 style="color:#C1B3AE">
                                      <span class="glyphicon glyphicon-info-sign"></span>
                                      채팅량이 적으면 분석이 정확하지 않을 수 있습니다.
                                  </h5>
                                  <h5 style="color:#787FDA">
                                      <a class="href-help-chart" href=""><span class="glyphicon glyphicon-question-sign"></span>
                                      그래프 보는 방법
                                      </a>
                                  </h5>

                              </h3>

                          </div>
                          <div class="chart" style="">

                          </div>
                      </div>

                  </div>

              </div>
                  
                  

              </div><! --/row -->
          </section>
      </section>

      <div class="modal fade" id="load_modal">
          <div class="modal-dialog text-center" style="margin-top: 250px">

              <img src="/assets/img/loader.gif"width="100">

          </div><!-- /.modal-dialog -->
      </div>
      <div class="modal fade" id="err_modal">
          <div class="modal-dialog " style="">
              <div class="modal-content">
                  <div class="modal-header" style="background: #ffd777">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">이슈분석기</h4>
                  </div>
                  <div class="modal-body">
                      <h4>분석이 아직 끝나지 않았습니다.</br> 잠시 후 다시 시도해 주세요.</h4>
                  </div>

              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <%include static/js.html%>
  <script src="/assets/js/biPartite.js"></script>
	<script type="text/javascript" src="/assets/js_custom/chart.js"></script>
  <script>


  </script>
  

  </body>
</html>
