<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Issue Analyze</title>
    <%include static/css.html%>
    <link rel="stylesheet" type="text/css" href="/assets/css/help.css">


</head>

<body>
<%include addon/header.html%>
<%include addon/aside.html%>
<div class="body-wrap">
    <h2>Help Desk</h2>
    <h3><a class="href-help-upload" href="#info-upload">사용법(click!)</a></h3>
    <h3><a class="href-help-chart" href="#info-chart">그래프 보는법(click!)</a></h3>
    <hr>

    <section id="info-upload">
        <h4 >기초 : 카카오톡 채팅 데이터 업로드</h4>
        <ul class="info-wrap">
        <li><h5>1) 단체방의 우측 상단의 메뉴버튼 터치</h5>
        <img src="/assets/img/help/1.png" alt="그림1">
        </li>
        <hr>
        <li><h5>2) 메뉴의 우측 하단 설정 버튼 터치</h5>
        <img src="/assets/img/help/2.png">
        </li>
        <hr>

        <li><h5>3) 대화내용 내보내기 -> SD카드에 저장</h5>
        <img src="/assets/img/help/3.png">
        </li>
        <hr>

        <li><h5>4) 앱 실행 후 분석 버튼 터치</h5>
            <img src="/assets/img/help/mobile_main.png">
        </li>
        </ul>
    </section>
    <hr>

    <section id="info-chart">
        <h4 >그래프 : 읽는법</h4>
        <ul class="info-wrap">
            <li><h5>1) 아래의 32%는 해당 사람의 카톡방 평균 대화율을 의미합니다.<span class="text-primary"> 대화량이 많을수록</span> 높습니다.</h5>
                <img src="/assets/img/help/chart1.png" alt="그림1">
            </li>
            <hr>
            <li><h5>2) 특정 <span class="text-primary">1명의 그래프를 터치</span>하면 아래와 같이 그 사람과 대화한 사람들의 비율을 알 수 있습니다.</br> <span class="text-red">높다고 무조건 많이 대화한 것이 아니며</span>, 왼쪽의 비율(평균대화량)보다 <span class="text-primary">오른쪽의 비율이 높을 때 그 사람("회원님")과 대화를 많이 했다</span> 고 볼 수 있습니다.</h5>
            <h5>ex) <span class="text-primary">B의 평균 대화율(32%)[왼쪽]</span>보다</br>오른쪽의<span class="text-red">B가 "회원님"과 대화한 비율(49%)[오른쪽]</span>이 높기 떄문에 다른사람에 비해 <span class="text-green">많이 이야기 했다(나아가 더 친하다)</span> 고 볼 수 있습니다</h5>
                <img src="/assets/img/help/chart2.png">
            </li>

            <hr>
            <li><h5>3) 유의사항 : <span class="text-red">대화량이 극히 적은 (2%미만)의 구성원의 경우 적절하지 못한 데이터가 나올 수 있습니다.</span></h5>
            </li>


        </ul>
    </section>
</div>
</body>
<%include static/js.html%>
<script src="/assets/js_custom/help.js"></script>

</html>