<!DOCTYPE html>
<html lang="en" ng-app="analyize" ng-controller="parent">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title ng-bind="main_title">Issue Analyze</title>

    <%include static/css.html%>
  </head>

  <body >

  <section id="container" class="" ng-controller="index">
        <%include addon/header.html%>
        <%include addon/aside.html%>

        <section id="main-content">
          <section class="wrapper" >

              <div class="row">
                  <div class="col-md-12 col-lg-9 main-chart">
                      <div class="col-md-11">

                          <h2><span class="head" ng-bind="title">----</span></h2>
                          <h4>대화 시작시간: <span class="start_date" ng-bind="date">----</span></h4>
                      </div>
                  	<!--<div class="row mtbox text-center" id="pkg_info">-->
                        <!--<div class="col-md-4 box0">-->
                            <!--<div class="box1">-->
                                <!--<span class="li_data"></span>-->
                                <!--<h3 class="db">Error</h3>-->
                                <!--<h4>DB접근 현황</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                  		<!--<div class="col-md-4 box0">-->
                  			<!--<div class="box1">-->
					  			<!--<span class="li_cloud"></span>-->
					  			<!--<h3 class="pkg_cnt">-&#45;&#45;</h3>-->
					  			<!--<h4>대화 뭉치</h4>-->
					  			<!--<h5>(50분 이내에 5번 이상 대화가 이루어진 대화 꾸러미의 갯수)</h5>-->
                  			<!--</div>-->
					  			<!--<p><span class="pkg_cnt">-&#45;&#45;</span>개의 대화 뭉치를 발견했습니다!</p>-->
                  		<!--</div>-->
                  		<!--<div class="col-md-4  box0">-->
                  			<!--<div class="box1">-->
					  			<!--<span class="li_stack"></span>-->
					  			<!--<h3 class="member_len">&#45;&#45;</h3>-->
                                <!--<h4>대화 인원수</h4>-->
                                <!--<h5>(한번이라도 대화 뭉치에 참여한 사람 수 입니다)</h5>-->
                            <!--</div>-->
					  			<!--<p><span class="member_len">&#45;&#45;</span>명이 함께하는 대화방입니다.</p>-->
                  		<!--</div>-->

                  	<!-- -->
                  	<!--</div>-->

                      
                      <!-- SERVER STATUS PANELS -->

						<div class="col-md-6 mb" id="chatter">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn" >
								<div class="section-header">
									<h3 class="text-white title">Top Chatter <span class="glyphicon glyphicon-heart"></span></h3>
								</div>
                                <div class="top-wrap">
                                    <img src="/assets/img/line/sally.png" class="img-circle" width="80">
                                    <div class="inline-block">
                                        <div class="row no-margin inline-block">
                                            <h3 class="inline-block">No 1.<b class="fst" ng-bind="top_chatter_name">---</b></h3>
                                            </br>
                                            <span class="mt">총 대사량</span>
                                            <span class="count" ng-bind="top_chatter_count">--</span>

                                        </div>
                                    </div>
                                </div>
                                <div id="chatter_chart" style="min-width: 310px; width: 100%;max-width: 600px; margin: 0 auto"></div>

                            </div>

                        </div>
                          <!-- SERVER STATUS PANELS -->

                          <div class="col-md-6 mb" id="talk">
                              <!-- WHITE PANEL - TOP USER -->
                              <div class="white-panel pn" >
                                  <div class="section-header">
                                      <h3 class="text-white title">Chat Starter&nbsp;<i class="text-white fa fa-male"  style="font-size: 29px;"></i></h3>
                                  </div>
                                  <div class="top-wrap">
                                      <img src="/assets/img/line/cony.png" class="img-circle" width="80">
                                      <div class="inline-block">
                                          <div class="row no-margin inline-block">
                                              <h3 class="inline-block">No 1.<b class="fst" ng-bind="leader_name">---</b></h3>

                                          </div>
                                      </div>
                                  </div>

                              </div>

                          </div>
                          <!-- SERVER STATUS PANELS -->

                          <div class="col-md-6  mb"  id="follower">
                              <!-- WHITE PANEL - TOP USER -->
                              <div class="white-panel pn" >
                                  <div class="section-header">
                                      <h3 class="text-white title">My Chat Follower&nbsp;<i class="fa fa-twitter text-white" style="font-size: 29px;"></i></h3>
                                  </div>
                                  <div class="top-wrap">
                                      <ul >
                                          <li class="col-md-3 col-xs-4" ng-repeat="follower in followerList">
                                              <img class="icon" ng-src="/assets/img/line/{{follower[0]}}" class="" width="80">
                                              <p ng-bind="follower[1]"></p>
                                          </li>
                                          <li ng-if="followerList.length==0">
                                              <p>팔로워가 없네요? ㅠㅠ</p>
                                          </li>

                                      </ul>
                                      <div class="inline-block">
                                          <div class="row no-margin inline-block">
                                              </br>


                                          </div>
                                      </div>
                                  </div>

                              </div>

                          </div>
                          <div class="col-md-12 mb" id="keyword">
                              <div class="white-panel pn" >
                                  <div class="section-header"style="background: #27ae60">
                                      <h3 class="text-white title">Hot Keyword TOP 40 &nbsp;<i class="text-white fa fa-keyboard-o " style="font-size: 27px;"></i></h3>
                                  </div>
                                  <div class="col-md-12 col-sm-12 mb no-padding">
                                      <!-- INSTAGRAM PANEL -->
                                      <div class="spinner-nlp" ng-hide="loaded_nlp" style="background: rgba(0,0,0,0.6);width: 100%;position: absolute; height: 100%; z-index: 100;">
                                          <div class="spinner">
                                              <div class="rect1"></div>
                                              <div class="rect2"></div>
                                              <div class="rect3"></div>
                                              <div class="rect4"></div>
                                              <div class="rect5"></div>
                                          </div>

                                      </div>
                                      <div class="col-md-12 col-xs-12  pn bg-white cover-img bgBlur" id="unseen" style="background-image: url({{bg_nlp}})">
                                      <p class="copyright">img copyright : unsplash.com</p>

                                      </div>

                                  </div>
                              </div><!-- /content-panel -->
                          </div>


                  <div class="col-lg-12"  style="margin-top: 20px">
                      <a class="btn bg-blue text-white href-chart col-xs-12 col-lg-12 col-md-12">
                          친한 관계 분석 그래프 보기
                      </a>
                  </div>
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->




              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <!--footer end-->
  </section>
  <div class="modal fade" id="file_modal" style="z-index: 2000;">
      <div class="modal-dialog " style="margin-top: 77px;">
          <div class="modal-content">
              <div class="modal-header" style="background: #ffd777">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">이슈분석기</h4>
              </div>
              <div class="modal-body">
                  <h4>분석할 파일을 넣어주세요</h4>
                  <form action="/" method="post" enctype="multipart/form-data">
                      <input class="btn " type="file" name="myfile" style="display: inline">

                      <div class="text-right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                          <input class="btn btn-primary" type="submit" name="upload" value="업로드">
                      </div>
                  </form>
              </div>
              <div class="modal-footer text-left" style="">
                  <button class="btn btn-info" onclick="location.href = '?id=5657a31862c6bc132ffb8561'">
                      Demo Sample Go
                  </button>
              </div>

          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>
  <div class="modal modal-custom" id="load_modal" style="">
      <div class="modal-dialog text-center" style="margin-top: 250px">
          <div class="sk-folding-cube">
              <div class="sk-cube1 sk-cube"></div>
              <div class="sk-cube2 sk-cube"></div>
              <div class="sk-cube4 sk-cube"></div>
              <div class="sk-cube3 sk-cube"></div>
          </div>
      </div><!-- /.modal-dialog -->
  </div>



    <!-- js placed at the end of the document so the pages load faster -->
    <%include static/js.html%>
	<script type="text/javascript" src="/assets/js_custom/index.js"></script>
  </body>
</html>
