.site-footer{
    position: fixed;
    height: 77px;
    bottom: 0;
    width: 97%;
    z-index: 100;
}
a:hover{
    background: inherit !important;
}

.btn-success:hover{
    background-color: #5cb85c !important;
}
.btn-danger:hover{
    background-color: #d9534f !important;
}
.modal-backdrop{
    /*left: 15px;*/
    /*right: 15px;*/
}
.modal-backdrop{
    position: absolute !important;
}
i.fa.fa-info{
    margin-right: 11px;
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .white-panel{
        //padding-bottom: 500px;
    }
}
aside{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.col-md-12{
    padding: 0;
}
.modal-backdrop{
    top: 60px;
    height: 2000px;
}
