.header{
  position: fixed;
  background: rgb(0,196,2);
  border-bottom: 1px solid rgb(0, 144, 1);
  #share{
    background: #f1c40f;
  }
  .logo-wrap{

  }
  .nav{
    margin-top:18px;
    position: absolute;
    right: 10px;
    &>li{
      margin-right: 10px;
      display: inline;
      .btn{
        border: 0; padding: 8px; display: inherit;

      }
    }
  }
}