.body-wrap{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.info-wrap{
  li{
    margin-bottom: 30px;
  }
  img{
    width: 100%;
    border: 3px solid rgb(200,200,200);
  }
}
#info-upload,#info-chart{
  padding-top: 80px;
}