#unseen thead{
    text-align: center;
}

.ranking{
    text-align: center;
}
#chatter .members .details > p > a{
    font-size:large;
}

#chatter .members .details > p > muted{
    font-size:larger;
}
.pn{
    height: inherit;
    .section-header{
        background: #ff865c;
    }
    .title{
        padding: 20px 0;
        margin-bottom: 0;
    }
    .instagram-panel{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top-wrap{
        padding-top: 10px;
        padding-bottom: 30px;
        background: rgba(255,134,92,0.5);
        color: #40312B;
        font-size: 20px;
        .img-circle{
            margin-top: -48px;
            margin-right: 27px;
        }
    }
}
.modal-custom{
    background: #1abc9c;top: 60px; display: block; opacity: 0.95;
}



#unseen{
    background-image: url(/assets/img/bg/wood.jpg);
    min-height: 300px;
    //-webkit-filter: blur(5px);
    //-moz-filter: blur(5px);
    //-o-filter: blur(5px);
    //-ms-filter: blur(5px);
    //filter: blur(5px);

    background-size:cover;
    //width:200px;
    //height:250px;
    position: relative;
    z-index:1;
    float:left;
    //margin:10px;
    overflow:hidden;
    &>svg{
        background-color: rgba(50,50,50,0.6);
        border-radius: 25%;
        margin: 33px auto;
    }


}
.bgBlur:before {
    content: '';
    position: absolute;
    top: 0; left:0; right:0; bottom:0;
    background: inherit;
    z-index:-1;
    filter: blur(5px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    //filter: url(#blur);
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    width: 1200px;
    height: 800px;

}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}
#keyword{
    @media  (min-width: 992px) {

        padding-left: 15px;
        padding-right: 15px;
    }
    .copyright{
        position: absolute;
        right: 20px;
        opacity: 0.5;
        padding-right: 5px;
        padding-left: 5px;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
        bottom: 0;
    }
}

#talk{
    .section-header{
        background-color: #21BBB9;
    }
    .top-wrap{
        padding-top: 39px;
        background: rgba(33,187,185,0.2);
    }
}
#follower{
    ul{
        padding-left: 0;
    }
    .section-header{
        background: #3498db;
    }
    .top-wrap{
        .icon{
            border-radius: 50%;
        }
        background: rgba(52,152,219,0.2);
        padding-top: 20px;
        padding-bottom: 100px;
        p{
            margin-left: 0;
        }
    }
}

@media  (max-width: 991px) {
    .col-md-6{
        padding-left: 0;
        padding-right: 0;
    }
}