.header{position:fixed;background:#00c402;border-bottom:1px solid #009001}.header #share{background:#f1c40f}.header .nav{margin-top:18px;position:absolute;right:10px}.header .nav>li{margin-right:10px;display:inline}.header .nav>li .btn{border:0;padding:8px;display:inherit}