.body-wrap{padding-top:60px;padding-bottom:60px;padding-left:15px;padding-right:15px}.info-wrap li{margin-bottom:30px}.info-wrap img{width:100%;border:3px solid #c8c8c8}#info-upload,#info-chart{padding-top:80px}