<aside>
    <div id="sidebar"  class="nav-collapse " style="">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu none" id="nav-accordion" style="">

            <p class="centered"><a href="profile.html"><img src="/assets/img/kakao.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">제작자 : rupert</h5>
            <h5 class="centered">crescent702@gmail.com</h5>

            <li class="dashboard">
                <a href="#" >
                <i class="fa fa-dashboard"></i>
                    <span>대시보드</span>
                </a>
            </li>

            <li class="sub-menu chart-section">
                <a href="#" >
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>관계도 그래프</span>
                </a>
            </li>
            <li class="sub-menu information">
                <a class="href-help" href="/help" >
                    <i class="fa fa-info"></i>
                    <span>도움말</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>