<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title=""></div>
    </div>
    <!--logo start-->
    <div class="text-center logo-wrap">
    <a href="" class="logo"><p>단톡방 분석기</p></a>
    </div>
    <!--logo end-->
        <ul class="nav pull-right">
            <li >
                <a class="btn bg-blue text-white "  href="https://play.google.com/store/apps/details?id=com.yoonskim.issue">
                    앱 다운 <img src="/assets/img/default/google_play.png" width="17">
                </a>
            </li>
            <li style="margin-right: 0">
                <a class="btn btn-success text-white " id="share" href="#" >공유하기</a>
            </li>
            <!--<li class=""><a class="btn btn-danger" style="padding: 5px" href="/login.html">Logout</a></li>-->
        </ul>
</header>