<!-- Bootstrap core CSS -->
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!--<link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">-->
<!--<link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />-->
<link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/style-responsive.css" rel="stylesheet">

<script src="/assets/js/chart-master/Chart.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/rupert_st.css">
<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="/assets/css/loading.css">
<link rel="stylesheet" type="text/css" href="/assets/css/spinner.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->