<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script src="/assets/js/angular/angular.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!--<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>-->
<!--<script src="/assets/js/jquery.scrollTo.min.js"></script>-->
<!--<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>-->
<!--<script src="/assets/js/jquery.sparkline.js"></script>-->


<!--common script for all pages-->
<!--<script src="/assets/js/common-scripts.js"></script>-->

<!--<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>-->
<!--<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>-->

<!--script for this page-->
<!--<script src="/assets/js/sparkline-chart.js"></script>-->
<!--<script src="/assets/js/zabuto_calendar.js"></script>-->
<script src="/assets/js/chart.js/Chart.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/assets/js/d3.layout.cloud.js"></script>
<script type="text/javascript" src="/assets/js/highchart/highcharts.js"></script>
<script type="text/javascript" src="/assets/js/highchart/exporting.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript" src="/assets/js_custom/default.js"></script>
